---
layout: nil
---

/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */
body {
background-color: none;
background-image:url('../chrome/renkli.jpg')
background-repeat: no-repeat;
background-attachment: fixed;

}

#pengu {
position:absolute; top:600px;left:400px}

#bil{
position:absolute; top:390px;left:410px}

