---
layout: nil
---

/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */
body {
background-color: none;
background-image:url('../chrome/renkli.jpg')

}

#pengu {
position:absolute; top:700px;left:400px}

